<div class="container">
  <h1>Employee Data</h1>

  <div class="form">
    <form (ngSubmit)="view()" [formGroup]="formData">
      <div formArrayName="EmpData">
        <div *ngFor=" let Employee of getEmployees.controls; let pIndex=index" [formGroupName]="pIndex">
          <table mat-table class="formContent">

            <tr>
              <td> Name : </td>
              <td>
                <mat-form-field>
                  <input matInput required formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && formCount.EmpData.controls[pIndex].controls.name.errors }">
                </mat-form-field>

                <div *ngIf="submitted && formCount.EmpData.controls[pIndex].controls.name.errors"
                  class="invalid-feedback">
                  <div *ngIf="formCount.EmpData.controls[pIndex].controls.name.errors.required">Name is required</div>
                </div>

              </td>
            </tr>

            <tr>
              <td> Designation : </td>
              <td>
                <mat-form-field>
                  <input matInput required type="text" formControlName="designation"
                    [ngClass]="{ 'is-invalid': submitted && formCount.EmpData.controls[pIndex].controls.designation.errors }">
                </mat-form-field>

                <div *ngIf="submitted && formCount.EmpData.controls[pIndex].controls.designation.errors"
                  class="invalid-feedback">
                  <div *ngIf="formCount.EmpData.controls[pIndex].controls.designation.errors.required">Designation is
                    required</div>
                </div>

              </td>
            </tr>

            <tr>
              <td> Contact Details : </td>
              <td>
                <div formArrayName="contact">
                  <div *ngFor="let item of getcontacts(pIndex).controls; let p=index" [formGroupName]="p">
              <td>
                <mat-form-field>
                  <input matInput placeholder="Type" formControlName="type">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="number" formControlName="number">
                </mat-form-field>
              </td>
        </div>
        <button type="button" class="button" (click)="addContact(pIndex)">Add </button>
      </div>
      </td>
      </tr>
      <tr>
        <td> Skills : </td>
        <td>
          <div formArrayName="skills">
            <div *ngFor="let item of getskill(pIndex).controls; let pointIndex=index" [formGroupName]="pointIndex">
              <mat-form-field>
                <input matInput formControlName="skill">
              </mat-form-field>
            </div>
            <button type="button" class="button" (click)="addSkill(pIndex)">Add </button>
          </div>
        </td>
      </tr>

      <tr>
        <td> Date of Birth : </td>
        <td>
          <mat-form-field>

            <input matInput [matDatepicker]="picker" [max]="Date" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          </mat-form-field>
        </td>
        <td></td>
      </tr>

      </table>

  </div>
</div>
<button mat-button class="button" (click)="addemp()">Add Employee</button> <br>
<button mat-button type="Submit" class="button">View Data</button>
</form>

</div>

<div>
  <div *ngIf="(DisplayData | json) != '[]'; else emptyView">
    <mat-card class="view" *ngFor="let data of DisplayData; let i = index">
      <h3> Employee # {{i+1}} </h3>
      <table class="ViewData">
        <tr>
          <td>Name </td>
          <td>: {{data.name}}</td>
        </tr>
        <tr>
          <td>Designation </td>
          <td>: {{data.designation}}</td>
        </tr>
        <tr>
          <td>Contact </td>
          <td>
            <table *ngFor="let num of data.contact">
              <tr>
                : {{num.type}} - {{num.number}}
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>Skills </td>
          <td>: {{data.skills}}</td>
        </tr>
        <tr>
          <td>Date of Birth </td>
          <td>: {{data.dob}}</td>
        </tr>

      </table>
    </mat-card>
  </div>
  <ng-template #emptyView>
    <mat-card class="view empty">

    </mat-card>
  </ng-template>

  <button mat-button class="button" (click)="downloadJson()" [disabled]="(DisplayData | json) == '[]'">Download
    JSON</button>

</div>

</div>